:root {
  --primary-color: rgb(55, 179, 192);

  --primary-accent-color: rgb(63, 187, 200);

  --primary-background-color: rgb(56, 62, 93);
  --secondary-background-color: rgb(26, 30, 50);

  --secondary-background-accent-step-1: rgb(32, 56, 75);
  --secondary-background-accent-step-2: rgb(38, 82, 100);
  --secondary-background-accent-step-3: rgb(45, 109, 125);
  --secondary-background-accent-step-4: rgb(51, 135, 150);

  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(151, 156, 184);

  --border-color: rgb(26, 30, 50);
  --border-radius: 5px;

  --secondary-box-shadow: rgb(45 52 86);

  --tile-padding: 12px;
  --tile-gap: 12px;

  --transition-duration: 250ms;

  --box-shadow-color: rgba(0, 0, 0, 0.5);
}
