@import 'styles/buttons.scss';

.Header {
  border-top: 4px solid var(--primary-accent-color);
  padding: 8px;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .connect {
    @extend .secondaryButton;
    padding: 8px;
    font-size: 12px;
  }

  .address {
    padding: 8px;
    font-size: 12px;
    color: var(--primary-text-color);
    background: var(--primary-background-color);
    border-radius: var(--border-radius);
  }
}
